<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/profile.css">

    <script src="/javascripts/jquery.js"></script>
    <script src="https://kit.fontawesome.com/e22a88376d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
        integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

    <title>Profile Page</title>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000054">
        <a class="navbar-brand" href="/profile/<%=currentUser._id%>">EM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses" id="color-text">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects" id="color-text">Projects</a>
                </li>
            </ul>
    
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="color-text">Logout</a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/profile/<%=currentUser._id%>" id="color-text">Profile</a>
                </li>
            </ul>
    
        </div>
    </nav>

    <!-- Blank space -->
    <div style="padding: 50px"></div>

    <div class="container">
        <div class="row ">
            <!-- PROFILE CARD -->
            <div class="col-md-4">
                <div class="card" style="margin: auto; border-radius: 10px">
                    <%if (user._id.equals(currentUser._id)) { %>
                        <a href="#" data-toggle="modal" data-target="#editImageModal">
                            <img src="<%=user.image%>" alt="avatar" style="width:100%; border-radius: 10px">
                        </a>
                    <%} else {%>
                        <img src="<%=user.image%>" alt="avatar" style="width:100%; border-radius: 10px"> 
                    <%}%>

                    <!-- Upload Avatar Modal-->
                    <div class="modal fade" id="editImageModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Photo Upload</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="far fa-window-close"></i>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <form id='uploadImage' action='/profile/<%=currentUser._id%>/upload' method='POST' encType="multipart/form-data">
                                        <input type="file" name="sampleFile" />
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="submitImageButton">Upload</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
            
                        <div class="row">
                            <h4 class="card-title" style="font-weight: bold; margin: 10px"><%=user.name%></h4>

                            <a href="#" data-toggle="modal" data-target="#edit_profile_modal">
                                <img src="/images/edit logo.png" alt="" style="width: 30px; height: auto; margin: 10px">
                            </a>
                            <!-- Edit Profile Modal -->
                            <div class="modal fade" id="edit_profile_modal">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="far fa-window-close"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <form action="/profile/<%= user._id%>?_method=PUT" method="POST" id="submit-form">                                                    
                                                           
                                                        <!-- Username, EMAIL, BIO  -->                                                      
                                                        <div class="form-group">
                                                            <label for="name">Name</label>
                                                            <input type="text" name="name" class="form-control" id="name" value="<%=user.name%>">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="email"> Email </label>
                                                            <input type="email" name="email" class="form-control" id="email"  value="<%=user.email%>">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="Bio">Bio </label>
                                                            <textarea type="bio" name="bio"  class="form-control" id="bio" ><%=user.bio%></textarea>
                                                        </div>
                                                
                                               
                                                </form>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" id="submitButton">Save changes</button>
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                        <div class="info-contact">
                            <div class="row">
                                <img src="/images/circle_user.png" alt="account icon">
                                <p class="card-text"><%=user.username%></p>
                            </div>
                            <div class="row">
                                <img src="/images/email logo.png" alt="email icon">
                                <p class="card-text"><%=user.email%></p>
                            </div>

                            <div class="row">
                                <div class = "more">
                                    <p class="card-text"><%=user.bio%></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- TABS -->
            <div class="col-md-8 pt-3">
                <!-- Blank space -->
       
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="course-tab" data-toggle="tab" href="#course" role="tab">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab">Project</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->

                    <div class="tab-content">
                        <!-- Courses -->
                        <div class="tab-pane fade show active" id="course" role="tabpanel">
                            
                            <%courses.forEach(course => { %>
                                <div class="row mt-3">
                                    <div class="card item mb-1">
                                        <div class="row card-body">
                                            
                                            <div class="col-md-4 image-container">
                                                <img class="item-image" src="<%=course.id.image%>" alt="">
                                            </div>

                                            <div class="col-md-8">                                                     
                                                <div class="d-flex justify-content-between pt-1">
                                                    <a href="/courses/<%=course.id._id%>"><%=course.id.name%></a>                   
                                                </div>
                                               
                                                <div class="d-flex justify-content-between pt-1">
                                                   <p><%=course.id.courseId%></p>             
                                                </div>
                                        
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <%});%>
   
                        </div>
                        
                        <!-- Projects -->
                        <div class="tab-pane fade" id="project" role="tabpanel">
                            <br>
                            <div>
                                <!-- Search bar -->
                                <div class="row">
                                    <%if (user._id.equals(currentUser._id)) { %>
                                        <div class="col-md-11 form">
                                            <input class="p-2" type="text" name="search" placeholder="search" id="search">
                                        </div>
                                    
                                        <div class="col-md-1 d-flex justify-content-end">
                                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addAndEditProjectModal">Add</button>
                                        </div>

                                        <!-- Modal for creating the project -->
                                        <div>
                                            <div class="modal fade" id="addAndEditProjectModal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                        
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Project Upload</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                        
                                                        <div class="modal-body">
                                                            <form id="uploadProjectForm" action="/profile/<%=user._id%>/projects" method="POST"
                                                                encType="multipart/form-data">
                                                                <div class="form-group">
                                                                    <label for="name">Name</label>
                                                                    <input class="form-control" type="text" name="name" id="name">
                                                                </div>
                                        
                                                                <div class="form-group">
                                                                    <label for="description">Description</label>
                                                                    <textarea class="form-control" type="text" name="description" id="description"></textarea>
                                                                </div>
                                        
                                                                <div class="form-group">
                                                                    <p>Picture</p>
                                                                    <input type="file" name="sampleFile" />
                                                                </div>
                                                            </form>
                                                        </div>
                                        
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary" id="submitProjectButton">Upload</button>
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%} else {%>
                                        <div class="col-12 form">
                                            <input type="text" name="search" placeholder="search" id="search">
                                        </div>
                                    <%}%>
                                </div>    
                                    <%projects.forEach(project => { %>
                                    <div class="row mt-3">
                                        <div class="card item mb-1">
                                            <div class="row card-body">
                                                
                                                <div class="col-md-4 image-container">
                                                    <img class="item-image" src="<%=project.image%>" alt="">
                                                </div>

                                                <div class="col-md-8">     
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <a href="/projects/<%=project._id%>"><%=project.name%></a>
                                                       
                                                        <%if (user._id.equals(currentUser._id)) { %>
                    
                                                            <form id="delete-form" action="/profile/<%=user._id %>/projects/<%=project._id%>?_method=DELETE"
                                                                method="POST">
                                                                <button class="btn btn-danger btn-xs">Delete</button>
                                                            </form>
                                                        <%}%>                    
                                                    </div>
                                                    <hr>
                                                    <p> <%=project.description%></p>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <%});%>
                        
                                </div>
                            </div>
                        </div> 
                    </div>
                 


                </div>
            </div>
        </div>
    </div>
    <div style="padding: 70px"></div>

    <script src="/javascripts/profile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>